@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1;
}

img {
  display: block;
}

em {
  font-style: normal;
}

html {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #85859B;
  font-size: 18px;
}

a {
  color: #85859B;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #7875FE;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.open {
  display: flex !important;
}

.none {
  display: none !important;
}

.title {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.text {
  color: #85859B;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.button {
  display: flex;
  width: 255px;
  height: 70px;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid #7875FE;
  color: #7875FE;
  transition: all 0.2s ease-in;
}
.button:hover {
  background: #7875FE;
  color: #fff;
  cursor: pointer;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-row li {
  color: #4C5866;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.border-bottom {
  border-bottom: 1px solid #DDD;
  width: 100%;
  margin-bottom: 60px;
}

.header__title {
  margin-top: 70px;
  margin-bottom: 30px;
  color: #4C5866;
  font-size: 60px;
}

.header__text {
  margin-bottom: 30px;
}

.col__first {
  padding-right: 110px;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #85859B;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #85859B;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 998px) {
  .burger {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #000;
    animation: burgerAnimation 0.4s;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .col__first {
    padding-right: 10px;
  }
  .header__bottom img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 998px) {
  .col__first {
    padding-right: 10px;
  }
  .haeder__button {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header__bottom img {
    width: 70%;
    height: 70%;
    margin: 30px auto;
  }
}
.nav__list {
  display: flex;
}
.nav__list li {
  padding: 28px 30px;
}
.nav__list li:last-child {
  padding: 28px 0px;
}

@media (max-width: 998px) {
  .nav__list {
    padding: 16px 30px;
  }
  .nav__list li:last-child {
    padding: 16px 30px;
  }
}
.max__white {
  background: #EBEBEB;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.max__white-top {
  margin-bottom: 90px;
}

.v-main {
  color: #666666;
  font-weight: 500;
}

.col-max__white {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.max__white .row {
  padding: 0;
  margin: 0;
}
.max__white .col {
  padding: 0;
  margin: 0;
}

.col__border {
  width: 340px;
  border-top: 1px solid #C0C0C0;
  margin-bottom: 19px;
}

.max__white-bottom {
  padding-top: 59px;
  padding-bottom: 59px;
}

.max__white-text {
  line-height: 170%;
}

.max__white-text-1 {
  margin-top: 20px;
}

.max__white-text-2 {
  margin-top: 10px;
}

@media screen and (max-width: 998px) {
  .max__white-big-img img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
  .max__white-bottom {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .max__white-title {
    font-size: 30px;
  }
  .max__white-text-1 {
    font-size: 14px;
  }
  .max__white-text-2 {
    font-size: 14px;
  }
}
.product {
  padding-top: 90px;
  padding-bottom: 90px;
}

.title__product {
  font-size: 30px;
  line-height: normal;
  margin-top: 20px;
}

.text__quantity {
  color: #B5B5BD;
  font-size: 14px;
  line-height: normal;
  margin-top: 8px;
}

.text__product {
  line-height: 170%;
  margin-top: 8px;
}

.text__button-product {
  color: #7875FE;
  font-size: 20px;
  line-height: normal;
  display: flex;
  margin-top: 20px;
  transition: all 0.2s ease-in;
}
.text__button-product img {
  margin-left: 7px;
}
.text__button-product:hover {
  color: #4946B4;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .text__button-product img {
    margin-bottom: 30px;
  }
  .full__card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  .full__card img {
    margin: 0 auto;
  }
  .full__card .text__product {
    width: 255px;
    text-align: start;
    margin: 0 auto;
  }
  .full__card .text__button-product {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .full__card .text__button-product img {
    margin: 0;
    padding-left: 7px;
  }
}
.firms {
  padding: 90px 0;
  background: #EBEBEB;
  width: 100%;
  height: 100%;
}

.firms__container {
  border: 1px solid #C4C4C4;
  width: 255px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .firms__container {
    margin: 30px auto;
  }
}
.book {
  padding-top: 90px;
}
.book img {
  overflow: hidden;
}

.main-text__book {
  padding-top: 24px;
}

.text__book {
  margin-top: 8px;
  margin-bottom: 30px;
  line-height: 170%;
}

@media (max-width: 1200px) {
  .book img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 998px) {
  .button__book {
    margin-bottom: 30px;
  }
  .book img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
}
.footer {
  padding-top: 29px;
  padding-bottom: 29px;
  background: #4C5866;
  width: 100%;
  height: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
}
.footer__list img {
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  .footer__container {
    display: contents;
    justify-content: center;
    align-items: center;
  }
  .footer__container a img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__list img {
    margin-right: 30px;
  }
}/*# sourceMappingURL=main.css.map */