// Fonts
$font-main: 'Roboto', sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-text: #85859B;
$color-text-big-1: #4C5866;
$color-text-big-2: #666666;
$color-button: #7875FE;
$color-background: #EBEBEB;
$color-border-bottom: #DDD;


// Media
$extra_extra_large: 1440px;
$extra_large: 1200px;
$large: 998px;
$medium: 768px;
$small: 576px;

